@model SmallCartViewModel

@if (Model != null)
{
    <p>Items in cart: <span class="badge badge-primary">@Model.NumberOfItems</span></p>
    <p>Total: <b>CAD @Model.TotalAmount.ToString("C2")</b></p>
}

